<div class="container">
  <div class="card text-center">
    <%= render @event %>
    <div class="d-grid gap-2 col-6 mx-auto">
    <% if @event.date > Time.now %>
      <% if @event.attendees.include?(current_user) %>
        <%= link_to "Cancel", cancel_event_path(@event), class: "btn btn-danger" %>
      <% else %>
        <%= link_to "RSVP", rsvp_event_path(@event), class: "btn btn-success" %>
      <% end %>
    <% end %>
    </div>
    <br>
    <p>
    <% if current_user == @event.creator %>
      <%= link_to "Edit this event", edit_event_path(@event) %> |
      <%= link_to "Delete this event", @event, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
      <% end %>
      <%= link_to "Back to events", events_path %>

    </p>


<div class="container">
  <div class="card text-center">
    <p>
      <%= render 'attendees', event: @event %>
    </p>
  </div>
</div>



